/* Defaults */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* end of the defaults */

/* #header {
    display: flex;
} */


/* header */
#header {
    background-image: url(../images/header-bg.jpg);
    position: sticky;
    top: 0;
}

.container {
    background-color: #212529;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;

}

.logo {
    display: flex;
}

.logo img {
    height: 100px;
    width: 156px;
    display: flex;
}

.nav {
    display: flex;


}

.nav a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    letter-spacing: 2px;
    padding: 10px;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a:hover {
    color: #FFC800;
}

/* end of the header  */

/* Main */
#content {
    width: 100%;
    height: 870px;
}

#main {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-content {
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.main-content * {
    margin: 30px 0px;

}

.main-content p {
    font-size: 36px;
}

.a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;

}

.main-content a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    height: 50px;
    font-size: 1.125rem;
    padding: 2.2rem 2.5rem;
    background-color: #FFC800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}


/* end of the main */

/* serrvices */
#services-content * {
    margin: 20px 0px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#services-content {
    height: 700px;
    text-align: center;
}

.sss p {
    color: #6c757d;


}
.sss h4 {
    text-transform: capitalize;
}
.sss {
    display: flex;
    justify-content: center;
    align-items: center;
}